.page{
  font-family: "Poppins", sans-serif;
  margin-left: 250px;
}

.top-header{
  width: 1318px;
  height: 41px;
  color: white;
  background-color: #075D9B;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.top-header h3{
  position: relative;
  bottom: 11px;
}

.top-header img{
  height: 41px;
}

.Title p{
 color: gray;
}
.Title{
  position: relative;
  left: 105px;
  font-size: smaller;
}

.container{
  margin-top: 50px;
}

.container img{
  width: 369px;
  height: 185px;
  position: relative;
  right: 535px;
  top: 30px;
  border: 1px white;
  border-radius: 10%;
  -webkit-box-shadow:0px 0px 114px 18px rgba(217,180,139,0.9);
  -moz-box-shadow: 0px 0px 114px 18px rgba(217,180,139,0.9);
   box-shadow: 0px 0px 114px 18px rgba(217,180,139,0.9);
}

.underline{
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: rgba(0,116,217,1);
  text-decoration-thickness: 5px;
  text-decoration-skip-ink: none;
}
.flex2{
  display: inline-flex;
  gap: 1000px;
}

.flex{
  display: flex;
  gap: 30px;
}


.subtext{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  left: 100px;
  width: 745px;
  height: 270px;
}

.satelite img{
  margin-top: 20px;
  width: 1318px;
  height: 204px;
}

.pub img{
  width: 210px;
  height: 174px;
  position: relative;
  left: 345px;
}

.cube{
  width: 100px;
  height: 100px;
  background-color: blue;
  text-align: center;
  color: black;
  display: inline-block;
  align-content: center;
  position: absolute;
  transition: transform 4s, background-color 0.5s, color 0.5s ;
}

.cube:hover {
  background: black;
  color: white;
  transform: translateX(60px);
}

.bigcircle{
  width: 200px;
  height: 200px;
  background-color: pink;
  border-radius: 50%;
  position: relative;
}

.smallcircle{
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 50%;
  position: relative;
  top: 95px;
  z-index: 10;
}

.ballanimation:active > .bigcircle{
  animation: 1s moveBigCircle 0.5s forwards;
}

.ballanimation:active > .smallcircle{
  animation: 1s moveSmallCircle 1s forwards;
}

.ballanimation{
  display: flex;
  gap: 100px;
}

@keyframes moveBigCircle {
  from { transform: translateX(0); }
  to { transform: translateX(200px); } 
}
@keyframes moveSmallCircle {
  from { transform: translateX(0); }
  to { transform: translateX(250px) ; } 
}

.cubeanimation:active > .smallcube{
 animation: 4s moveCube 2 alternate
}

@keyframes moveCube {
  0%   {background-color:#AFE241; left:30px; top:350px;}
  50%  {background-color:gray; left:300px; top:67px; border-radius: 50%; border: 0px; opacity: 30%; width: 233px; height: 233px;}
  100% {background-color:#E241BF; left:600px; top:350px; width: 261px; height: 287px;}
}

.smallcube{
  background-color: #AFE241;
  width: 80px;
  height: 80px;
  position: relative;
  border: 1px solid black;
  top: 350px;
  left: 30px;
}

.cubeanimation2:active > .smallcube{
  animation: 10s moveCube2 2 alternate
 }

@keyframes moveCube2 {
  0%   {background-color:#AFE241; left:30px; top:350px;}
  25%  {background-color:#AFE241; left:150px; top:30px; transform:rotateZ(30deg);}
  50%  {background-color:gray; left:300px; top:67px; border-radius: 50%; border: 0px; opacity: 30%; width: 233px; height: 233px;}
  75%  {background-color:#4178E2; left:400px; top:250px; width: 100px; height: 100px; transform:rotateZ(30deg);}
  100% {background-color:#E241BF; left:600px; top:350px; width: 261px; height: 287px;}
}

.basketballanimation{
  position: relative;
  top: 300px;
  left: 300px;
}

.basketball{
  position: absolute;
  bottom: 140px;
}

.basketballanimation:active > .basketball{
  animation: 0.5s basketanimation infinite alternate
}

@keyframes basketanimation {
  0%   {bottom: 140px;}
  15%  {bottom: 100px;}
  25%  {bottom: 50px; transform: rotate(100deg);}
  35%  {bottom: 0px;}
  45%  {bottom: -10px;}
  55%  {bottom: -30px;}
  65%  {bottom: -50px;}
  75%  {bottom: -80px;}
  85%  {bottom: -100px; transform: rotate(200deg);}
  95%  {bottom: -140px;}
  100% {bottom: -155px;}
}


.shadow{
  width: 205px;
  height: 40px;
  border-radius: 100%;
  opacity: 30%;
  background-color: gray;
  position: relative;
  top: 180px;
}