.page{
  font-family: "Poppins", sans-serif;
  margin-left: 250px;
}

.top-header{
  width: 1318px;
  height: 41px;
  color: white;
  background-color: #075D9B;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.top-header h3{
  position: relative;
  bottom: 11px;
}

.top-header img{
  height: 41px;
}

.Title p{
 color: gray;
}
.Title{
  position: relative;
  left: 105px;
  font-size: smaller;
}

.container{
  margin-top: 50px;
}

.container img{
  width: 369px;
  height: 185px;
  position: relative;
  right: 535px;
  top: 30px;
  border: 1px white;
  border-radius: 10%;
  -webkit-box-shadow:0px 0px 114px 18px rgba(217,180,139,0.9);
  -moz-box-shadow: 0px 0px 114px 18px rgba(217,180,139,0.9);
   box-shadow: 0px 0px 114px 18px rgba(217,180,139,0.9);
}

.underline{
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: rgba(0,116,217,1);
  text-decoration-thickness: 5px;
  text-decoration-skip-ink: none;
}
.flex2{
  display: inline-flex;
  gap: 1000px;
}

.flex{
  display: flex;
  gap: 30px;
}


.subtext{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  left: 100px;
  width: 745px;
  height: 270px;
}

.satelite img{
  margin-top: 20px;
  width: 1318px;
  height: 204px;
}

.pub img{
  width: 210px;
  height: 174px;
  position: relative;
  left: 345px;
}

.cube{
  width: 100px;
  height: 100px;
  background-color: blue;
  text-align: center;
  color: black;
  display: inline-block;
  align-content: center;
  position: absolute;
  transition: transform 4s, background-color 0.5s, color 0.5s ;
}

.cube:hover {
  background: black;
  color: white;
  transform: translateX(60px);
}

.bigcircle{
  width: 200px;
  height: 200px;
  background-color: pink;
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 50px;
  animation: moveBigCircle 2s forwards;
}

.smallcircle{
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 50%;
  position: relative;
  top:95px;
  z-index: 10;
  animation: moveSmallCircle 0.5s forwards;
}
.ballanimation{
  display: flex;
  gap: 100px;
  animation: moveBigCircle 0.5s forwards;
  animation: moveSmallCircle 2s forwards;
}

@keyframes moveBigCircle {
  from { left: 0; }
  to { left: 160px } 
}

.bigcircle {
  animation: moveBigCircle 0.5s forwards; 
}


.smallcircle {
  animation: moveSmallCircle 3s forwards; 
}

@keyframes moveSmallCircle {
  from { left: 0; }
  to { left: 200px; } 
}